<!doctype html>
<html>
    <head>
        <title>Todo Lists</title>
    </head>
    <body>
        <main>
            <div>
                <h1>Create a new item</h1>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" value="Create">
                </form>
            </div>
        </main>
    </body>
</html>