<!doctype html>
<html>
    <head>
        <title>Todo Lists</title>
    </head>
    <body>
        <main>
            <div>
                <h1>Are you sure?</h1>
                <form method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Delete"><a href="{% url 'todos_list'%}">
                </form>
            </div>
        </main>
    </body>
</html>