<!doctype html>
<html>
    <head>
        <title>Todo Lists</title>
    </head>
    <body>
        <main>
            <div>
                <h1> My Lists </h1>
                <p><a href="{%url 'todos_list_create'%}">Create a new list</a></br></p>
                <p><a href="{%url 'todo_item_create'%}">Create a new item</a></br></p>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of Items </th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for item in todolist_list%}
                            <tr>
                                <td><a href="{% url 'todos_list_detail' item.pk%}">{{item.name}}</td>
                                <td>{{item.items.count}}</td>
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>