<!doctype html>
<html>
    <head>
        <title>Todo Lists</title>
    </head>
    <body>
        <main>
            <div>
                <h1>Update List</h1>
                <form method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                   <input type="submit" value="Update"><a href="{% url 'todos_list_detail' todolist.id%}">
                </form>
            </div>
        </main>
    </body>
</html>